<% include partials/header.ejs %>
    <!--Main Content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
        </p>
        <form>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div>
                <label for="Comments">Comments</label>
                <textarea class="form-control"></textarea>
            </div>
          
            <button type="submit" class="btn btn-default" onclick="location.href('index.ejs');" value="submit">Submit</button>
        </form>
    </main>


    <% include partials/footer.ejs %>