<% include partials/header.ejs %>
     <!--Main Content -->
    <main class="container heading">
        <h1><%= title %></h1>
        <img src="../images/maxresdefault.jpg" class="img-responsive" alt="Responsive image">
    </main>

   <% include partials/footer.ejs %>