/* custom css file */
.heading{
   
    text-align: center;
    color: #9999ff;
	font-family: Papyrus;
	font-size: 49px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 58.8px;

}
.slider-caption{
    
    color:crimson;
	font-family: Papyrus;
	font-size: 15px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 58.8px;
}